.result-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 16px 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  color: black;
}

.result-card-header {
  background-color: #8ac4fe; /* azul intenso */
  color: white;
  padding: 12px 16px;
  font-size: 14px;
}

.result-detail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.result-detail span {
  font-size: 16px;
  color: #374151;
}

.icon {
  height: 16px;
  width: 16px;
  color: #6b7280;
  flex-shrink: 0;
}

.result-card-header p{
  color: #1f2937;
  margin: 0;
}

.result-card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  font-size: 18px;
  text-align: center;
}

.team-score h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.team-score p {
  font-size: 18px;
  margin: 4px 0 0;
}
